html, body {
  background-color: #1c1c1c;
  color: lightgray;
}

button, select {
  height: 30px;
  min-width: 60px;
}

.input{
  color:#595959;
}

.output{
  color: lightgray;
}

.actionable{
  cursor: pointer;
  text-decoration: underline;
}

.emphasis{
  font-style: italic;
}

.buffer {
  height: 256px;
  width: 2px;
}

.hidden {
  display: none;
}

.tg {
  border-collapse:collapse;
  border-spacing:0;
  margin: 25px;
}

.tg th{
  border-color:lightgray;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.tg td{
  border-color:lightgray;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.tg .tg-0pky .tg-0lax{
  border-color:inherit;
  text-align:left;
  vertical-align:top;
  margin: 30px 45px;
}